
@model IEnumerable<Pizza>

@{
    ViewData["Title"] = "Dettagli pizza";
    Layout = "_MioLayout";
}

<div class="text-center">


    <!--<audio controls loop autoplay id="audioPlayer" src="../audio/GigiDAgostino-GigisTime.mp3" type="audio/mpeg"></audio>
    <script>
        // Ottieni l'elemento audio
        var audioPlayer = document.getElementById('audioPlayer');

        // Imposta il volume al 50%
        audioPlayer.volume = 0.1; // Imposta il volume a metà della sua capacità massima
    </script>-->

    <div>
        
        <h1 class="title">Ammazza che Pizza!!</h1>

        <table class="table table-success">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Immagine</th>
                    <th>Prezzo</th>
                    <th>Descrizione</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>
            <tbody>

                @if (!Model.Any())
                {
                    <p>Non ci sono pizze disponibili.</p>
                }
                else
                {
                    foreach (var pizza in Model)
                    {
                        <tr>
                            <td><mark>@pizza.Nome</mark></td>
                            <td><img src="@Url.Content(pizza.Foto)" alt="@pizza.Nome" style="max-width: 100px; max-height: 100px;" /></td>
                            <td><mark><b>@pizza.Prezzo €</b></mark></td>
                            <!--Collegamento pagina details-->
                            <td><mark><b><a href="@Url.Action("Details", "Pizza", new { id = pizza.id })">Dettagli</a></b></mark></td>
                            <!--Collegamento pagina update-->
                            <td><mark><b><a href="@Url.Action("Update", "Pizza", new { id = pizza.id })">Modifica</a></b></mark></td>

                            <!--Elimina dato-->
                            <td>
                                <mark>
                                    <b>
                                        <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@pizza.id" method="post" >
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                CANCELLA
                                            </button>
                                        </form>
                                    </b>
                                </mark>
                             </td>

                        </tr>
                    }
                }
                
            </tbody>
        </table>

       

        <button class="btn btn-success"><b><a href="@Url.Action("Create", "Pizza")">INSERISCI UNA NUOVA PIZZA</a></b></button>
       
    </div>

</div>